body {
  font-family: sans-serif;
  margin: 2em;
  background: #f9f9f9;
}

#plan {
  width: 100vw;
  height: 300vh;
  overflow: hidden;
}

#plan svg {
  width: 100%;
  height: auto;
  display: block;
}

/* Affiche un curseur pointeur sur les stations */
#Stations > g {
  cursor: pointer;
}

#info {
  margin-top: 1em;
  padding: 1em;
  background: #e3e3e3;
  border-radius: 8px;
  max-width: 600px;
}
